
  <div class="login__header <%= margin if local_assigns[:margin] %>">
    <%= link_to path do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
    <h2><%= title %></h2>
    <span><%= title %></span>
  </div>
