<div class="login__header-desktop">
  <div class="login__header-desktop-container">
    <div class="home_icon">
      <%= link_to root_path do %>
        <%= image_tag('home.png') %>
      <% end %>
    </div>
    <h2>Log in to you account</h2>
    <small>Organize your groceries</small>
  </div>
</div>