<div class="menu">
  <div class="menu__icon">
    <%= link_to current_user do %>
      <i class="fas fa-bars"></i>
    <% end %>
  </div>
  <div class="menu__title">
    <h3><%= title %></h3>
  </div>
</div>