<%= javascript_pack_tag 'script' %>
<% if flash.any? %>
  <% flash.each do |name, msg| %>
    <div class="notification">
      <div class="notification__icon">
        <i class="fas fa-exclamation-triangle"></i>
      </div>
      <p class="notification__message">
        <%= msg %>
      </p>
    </div>
  <% end %>
<% end %> 
