<div class="home">
  <div class="home__title">
    <h1 class="prim-title">Groceries</h1>
  </div>
  <div class="home__actions">
    <%= link_to 'Login', login_path, class: "button btn-blue" %>
    <%= link_to 'Sign Up', '', class: "button btn-grey" %>
  </div>
</div>
