@import 'mixins';
@import 'variables';

*, 
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include mediaMD {
    font-size: 30.5%;
  }
}

body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;

  @include mediaMD {
    padding: 2rem;
    background-color: $color-blue-dark;
    height: 100vh;
  }
}

a:visited,
a:focus,
a:active {
  outline: none;
}