@import 'variables';
@import 'mixins';

.dashboard {
  height: 100vh;
  background-image: linear-gradient(to top, $color-blue-light, $color-blue-dark);
  position: relative;

  @include mediaMD {
    display: none;
    visibility: hidden;
    opacity: 0;
  }

  &__picture {
    margin: 0 auto;
    text-align: center;
    padding: 2rem 6rem 0 6rem;
    height: auto;

    & > img {
      border-radius: 100px;
      margin-bottom: 1rem;
      width: 10rem;
      border: 2px solid $color-white;
    }

    & > h2 {
      text-transform: uppercase;
      color: $color-white;
      font-size: 2rem;
      margin-top: 1rem;
    }
  }

  &__menu {
    margin: 0 auto;
    text-align: justify;
    padding: 2rem 3rem;
    height: auto;

    &__item {
      list-style: none;
      padding-bottom: 1rem;
      margin: 0 auto;
      display: block;
      width: 90%;

      & > a {
        &,
        &:link,
        &:visited {
          color: $color-white;
          text-decoration: none;
          // font-size: 3.4rem;
          display: flex;
          align-items: center;
          outline: none;
        }

        .circle {
          border-radius: 50%;
          height: 5rem;
          width: 5rem;
          position: relative;
          display: inline-block;
          border: 2px solid $color-white;

          & > img {
            margin: 0 auto;
            text-align: center;
            @include center();
            font-size: 1.7rem;
            width: 67%;
          }
        }

        .link {
          border-bottom: 1px solid #fff;
          padding: 2rem .5rem;
          width: 73%;
          text-transform: uppercase;
          font-size: 1.8rem;
          text-align: right;
        }
      } 
    }
  }

  &__button-container {
    position: absolute;
    bottom: 1rem;
    display: block;
    width: 100%;
    padding: 1rem 0;

    & > a {
      text-align: center;
      border: 2px solid $color-white !important;
    }
  }
}

.navegation-desktop {
  display: none;

  @include mediaMD {
    display: block;
  }

  &__menu {
    @include mediaMD {
      display: flex;
      background: #011a31;
      margin: 0 auto;
      margin-top: 2rem;
      height: 15rem;
      padding: 0 3rem;
      position: fixed;
      width: 100%;
      top: -10px;
      left: 0;
      z-index: 100;
    }

    & > ul {

      @include mediaMD {
        margin: 0;
        width: 80%;
        display: flex;
        align-items: center;
      }
      
      @include mediaL {
        padding-left: 10rem;
      }

      & > a {
        text-align: center;

        & > img {
          width: 70%;
        }
      }

      & > li {

        @include mediaMD {
          display: inline-block;
          padding: 1rem 2rem;
          transition: all 0.3s;

          &::after {
            content: '';
            display: block;
            transform: scale(0);
            border-bottom: 1px solid $color-white;
            transition: all .2s ease-in-out;
          }

          &:hover::after {
            transform: scale(1);
          }
        }

        & > a {

          @include mediaMD {
            text-align: center;
            font-size: 3rem;
            color: $color-white;
          }

          @include mediaL {
            font-size: 4rem;
          }

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    
    &__button {
      width: 30%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      @include mediaL {
        width: 20%;
      }
      
      .log_out {
        @include mediaMD {
          padding: 1rem;
          margin-left: 1rem;
          border: 1px solid transparent;
          text-align: center;
          transition: all .3s ease-in-out;
          
          &:hover {
            text-decoration: none;
            border-radius: 3px;
            border: 1px solid $color-white;
            transition: all .3s ease-in-out;
            cursor: pointer;
          }
          
          & > a {
            font-size: 3rem;
            color: #fff;
            text-decoration: none;
            transition: all .3s ease-in-out;
          }
        }
        
        @include mediaL {
          & > a {
            font-size: 4rem;
          }
        }
        
        @include mediaXL {
          padding: 2rem 5rem;
          margin-left: 3rem;
        }
      }

      & > a {

        @include mediaMD {
          color: $color-white;
          font-size: 3rem;
          line-height: 7rem;

          &:hover {
            text-decoration: none;
          }
        }

        @include mediaL {
          font-size: 4.1rem;
        }
      }

    }
  }

}

.cover_background {
  display: none;

  @include mediaMD {
    width: auto;
    padding: 2rem;
    @include center();
    display: flex;
    flex-direction: column;
  
    & > img {
      width: 40rem;
      margin: 0 auto;
    }
  
    & > a {
      text-align: center;
      font-size: 2.8rem;
      color: #011a31;
      margin-top: 21rem;
      width: 40rem;
      background-color: $color-white;
      transition: all 0.3s ease-in;
      box-shadow: 0 0rem 1rem rgba(255,255,255,0.5);
      border: 2px solid $color-white;
  
  
      &:hover {
        box-shadow: 0 0rem 1.5rem rgba(255,255,255,0.6);
        background-color: #011a31;
        color: $color-white;
        transition: all 0.3s ease-in;
        border: 2px solid $color-white;
      }
    }
  }
}