@import 'variables';
@import 'mixins';

.login {
  background-color:  $color-white-1;
  height: 100vh;
  position: relative;

  @include mediaMD {
    background-color: $color-white;
    width: 90rem;
    margin: 0 auto;
    height: 130rem;
    @include center();
    border-radius: 3px;
    box-shadow: 0 1rem 4rem rgba(255, 255, 255, 0.4);
  }

  &__header-desktop {
    display: none;

    @include mediaMD {
      display: block;
      padding: 1rem 0;
      font-size: 4rem;
      margin-top: 15rem;
    }

    &-container {
      @include mediaMD {
        margin: 0 auto;
        width: 75%;
        text-align: center;
      }

      .home_icon {
        @include mediaMD {
          padding: 4rem 0;
        }
      }

      & > h2 {
        @include mediaMD {
          font-size: 5rem;
        }
      }
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
    background: $color-primary;
    height: 7rem;
    font-size: 3rem;
    color: $color-white-1;

    @include mediaMD {
      display: none;
    }
    
    & > a {
      &,
      &:link,
      &:active {
        font-size: 7rem;
        width: 25%;
        color: $color-white-1;
        display: flex;
        align-items: center;
        text-decoration: none;

        & > img {
          width: 50%;
        }
      }
    }
    
    & > h2 {
      font-size: 2rem;
      text-transform: uppercase;
      margin: 0 auto;
      text-align: right;
      width: 75%;
    }
  }

  .form {
    height: calc(100vh - 120px);
    position: relative;
    padding-top: 5rem;

    @include mediaMD {
      position: unset;
      height: auto;
      padding: 10rem 0;
    }

    & > form {
      height: inherit;
      position: inherit;
    }

    .form__input {
      margin-bottom: 2rem;
    }

    &__input {
      &--field {
        @include mediaMD {
          display: block !important;
          width: 90% !important;
          height: 10rem !important;
          font-size: 3rem !important;
          padding: 3rem !important;
          border: 1px solid #96a0aa !important;
          border-radius: 3px !important;
          outline: none !important;
          font-weight: 400 !important;
          color: #878A8F !important;
          margin: 0 auto !important;
          background: $color-white !important;
        }
      }
    }

    &__input {
      &--field,
      &--number {
        &,
        &:focus {
          display: block;
          width: 100%;
          height: 6rem;
          font-size: 1.8rem;
          padding: 1rem 3rem;
          border: none;
          outline: none;
          font-weight: 700;
          color: $color-grey-3;
        }

        &:focus {
          @include mediaMD {
            border: 2px solid $color-blue-dark !important;
            width: 90% !important;
            box-shadow: 0 1rem 2rem rgba(0,0,0,0.2) !important;
          }
        }

        &::-webkit-input-placeholder {
          color: $color-grey-2;
        }
      }

    }

    &__input__file {
      display: block;
      width: 100%;
      height: 10rem;
      font-size: 3rem;
      padding: 3rem;
      border: none;
      outline: none;
      font-weight: 100;
      color: $color-grey-3;
    }

    &__input__select {

      .select {
        display: flex;
        flex-direction: column;
        width: 100%;

        & > label {
          display: flex;
          flex-direction: initial;
          font-size: 3rem;
          color: $color-grey-3;
          padding: 0 2rem;
        }

        & > select {
          &,
          &:focus,
          &:active {
            border: none;
            outline: none;
            padding: 3rem 3rem;
            background: $color-white;
            color: $color-grey-3;
            font-size: 3rem;
            font-weight: 100;
          }
        }
      }
    }

    &__input:last-child {
      position: absolute;
      bottom: 0.5rem;
      display: block;
      width: 100%;

      @include mediaMD {
        position: unset;
        margin-top: 6rem;
      }
    }
  }
}
