@import 'variables';
@import 'mixins';

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem .8rem;
  height: 5rem;
  background: $color-blue-light-2;

  @include mediaMD {
    display: none;
  }

  &__icon {
    width: 15%;
    margin: 0 auto;
    text-align: center;

    & > a {
      color: $color-white;
      width: 100%;

      & > img {
        width: 60%;
      }
    } 
  }

  &__title {
    width: 85%;
    text-align: center;
    color: $color-white;

    & > h3 {
      font-size: 1.8rem;
      text-transform: uppercase;
      margin-bottom: 0;
    }
  }
}