@import 'variables';
@import 'mixins';

.success {
  background-color: $color-green;
}

.danger {
  background-color: $color-red;
}

.notification {
  text-align: center;
  padding: 1rem 2rem;
  color: $color-white-1;
  width: 100%;
  position: absolute;
  margin: 0 auto;
  height: 5rem;
  border-radius: 3px;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;

  @include mediaMD {
    width: 90%;
    height: 10rem;
    position: unset;
  }

  &__icon {
    font-size: 2rem;
    margin-right: 1rem;

    & > img {
      width: 75%;
      @include mediaMD {
        width: 75%;
      }
    }
  }

  &__message {
    font-size: 1.2rem;
    margin: 0;
    line-height: 4rem;

    @include mediaMD {
      font-size: 2.5rem;
    }
  }

}

// ERRORS

span.error {
  text-align: center;
  padding: 0.5rem 2rem;
  background-color: $color-red;
  color: $color-white-1;
  font-size: 1.5rem;
  display: block;

  @include mediaMD {
    font-size: 3rem;
    display: block;
    width: 90%;
    margin: 0 auto;
    height: 5rem;
    margin-top: 1rem;
  }
}