$color-white-1: #f1f3f2;
$color-white: #fff;
$color-primary: #3778c2;
$color-blue-dark: #102F5D;
$color-blue-light: #3084C2;
$color-blue-light-2:#2F69A8;
$color-grey: #AEB0AF;
$color-grey-2: #989DA3;
$color-grey-3: #878A8F;
$color-grey-4: #bebebe;
$color-green: #60B524;
$color-red: #F04546;
$color-black: #000;