/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 
 $fa-font-path: '@fortawesome/fontawesome-free/webfonts';
 @import '@fortawesome/fontawesome-free/scss/fontawesome';
 @import '@fortawesome/fontawesome-free/scss/regular';
 @import '@fortawesome/fontawesome-free/scss/solid';
 @import '@fortawesome/fontawesome-free/scss/brands';

// RESET
*, 
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-shadow: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

// MIXINS
@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// COLORS

$color-white-1: #f1f3f2;
$color-primary: #3778c2;
$color-blue-dark: #102F5D;
$color-blue-light: #3084C2;
$color-grey: #AEB0AF;
$color-grey-2: #989DA3;
$color-grey-3: #878A8F;
$color-green: #60B524;
$color-red: #F04546;

// HOME

.home {
  background-color: #f1f3f2;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__title {
    flex: 90%;
    position: relative;
  }

  &__actions {
    flex: 10%;
    padding: 2rem;
  }
}

.prim-title {
  text-transform: uppercase;
  font-family: 'Courgette', cursive;
  font-size: 8rem;
  display: inline-block;
  width: 100%;
  letter-spacing: 1px;
  @include center();
}

// LOG IN

.login {
  background-color:  $color-white-1;
  height: 100vh;

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
    background: $color-primary;
    height: 12rem;
    font-size: 3rem;
    color: $color-white-1;
    margin-bottom: 7rem;

    & > a {
      &,
      &:link,
      &:active {
        font-size: 7rem;
        width: 25%;
        color: $color-white-1;
        display: flex;
        justify-content: end;
        align-items: center;
        text-decoration: none;
      }
    }

    & > h2 {
      font-size: 4rem;
      text-transform: uppercase;
      margin: 0 auto;
      text-align: center;
      width: 50%;
    }

    & > span {
      font-size: 3rem;
      text-transform: capitalize;
      width: 25%;
      text-align: end;
    }
  }

  .form {
    &__input {
      &--username {
        &,
        &:focus {
          display: block;
          width: 100%;
          height: 10rem;
          font-size: 3rem;
          padding: 3rem;
          border: none;
          outline: none;
          font-weight: 100;
          color: $color-grey-3;
        }

        &::-webkit-input-placeholder {
          color: $color-grey-2;
      }
      }
    }

    &__input:nth-child(3) {
      position: absolute;
      bottom: 7rem;
      display: block;
      width: 100%;
    }
  }
}

// DASHBOARD

.dashboard {
  height: 100vh;
  background-image: linear-gradient(to top, $color-blue-light, $color-blue-dark);

  &__picture {
    margin: 0 auto;
    text-align: center;
    padding: 6rem;

    & > img {
      border-radius: 100px;
      margin-bottom: 1rem;
      width: 20rem;
      border: 2px solid #fff;
    }

    & > h2 {
      text-transform: capitalize;
      color: #fff;
      font-size: 4rem;
      margin-top: 1rem;
    }
  }

  &__menu {
    margin: 0 auto;
    text-align: justify;
    padding: 2rem 3rem;

    &__item {
      list-style: none;
      padding: 1rem 0;
      margin: 0 auto;
      display: block;
      width: 63rem;

      & > a {
        &,
        &:link,
        &:visited {
          color: #fff;
          text-decoration: none;
          font-size: 4rem;
          display: flex;
          align-items: center;
        }

        .circle {
          border-radius: 50%;
          height: 8rem;
          width: 15%;
          position: relative;
          display: inline-block;
          border: 2px solid #fff;

          & > i {
            margin: 0 auto;
            text-align: center;
            @include center();
            font-size: 3.7rem;
          }
        }

        .link {
          border-bottom: 1px solid #fff;
          padding: 3.6rem 0;
          margin-left: 3rem;
          width: 85%;
          
          & > span {
            // margin-left: 3rem;
            // display: inline-block;
            // /* background: red; */
            // width: 90%;
            // height: 100%;
            // border-bottom: 1px solid #fff;
          }
        }

      } 

    }
  }
}

// BUTTONS

.button {
  &,
  &:link,
  &:visited {
    border: none;
    margin: 0 auto;
    border-radius: 3px;
    height: 12rem;
    line-height: 12rem;
    font-size: 3.5rem;
    text-transform: uppercase;
    display: block;
    width: 90%;
  }

  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}

.btn-blue {
  &,
  &:link,
  &:visited {
    color: $color-white-1;
    background-color: $color-primary;
  }
}

.btn-grey {
  &,
  &:link,
  &:visited {
    color: $color-grey;
  }
}


// NOTIFICATIONS

.notification {
  text-align: center;
  padding: 1rem 2rem;
  background-color: $color-red;
  color: $color-white-1;
  width: 50%;
  margin: 0 auto;
  height: 6rem;
  border-radius: 3px;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &__icon {
    font-size: 2rem;
    margin-right: 1rem;
  }

  &__message {
    font-size: 2rem;
    margin: 0;
    line-height: 4rem;
  }

}