/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
 

// RESET
*, 
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

a:visited,
a:focus,
a:active {
  outline: none;
}

// MIXINS
@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin position_bottom {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  padding: 2rem 0;
}

// COLORS

$color-white-1: #f1f3f2;
$color-primary: #3778c2;
$color-blue-dark: #102F5D;
$color-blue-light: #3084C2;
$color-blue-light-2:#2F69A8;
$color-grey: #AEB0AF;
$color-grey-2: #989DA3;
$color-grey-3: #878A8F;
$color-green: #60B524;
$color-red: #F04546;
$color-black: #000;
// HOME

.home {
  background-color: #f1f3f2;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__title {
    flex: 90%;
    position: relative;
  }

  &__actions {
    flex: 10%;
    padding: 2rem;
  }
}

.prim-title {
  text-transform: uppercase;
  font-family: 'Courgette', cursive;
  font-size: 8rem;
  display: inline-block;
  width: 100%;
  letter-spacing: 1px;
  @include center();
  transition: all .4s;
  animation: moveDown 1s ease-in;
  // animation: moveInBottom 1s ease-out;
}

// LOG IN

.login {
  background-color:  $color-white-1;
  height: 100vh;

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
    background: $color-primary;
    height: 12rem;
    font-size: 3rem;
    color: $color-white-1;
    margin-bottom: 7rem;

    & > a {
      &,
      &:link,
      &:active {
        font-size: 7rem;
        width: 25%;
        color: $color-white-1;
        display: flex;
        align-items: center;
        text-decoration: none;
      }
    }

    & > h2 {
      font-size: 4rem;
      text-transform: uppercase;
      margin: 0 auto;
      text-align: center;
      width: 50%;
    }

    & > span {
      font-size: 3rem;
      text-transform: capitalize;
      width: 25%;
      text-align: end;
    }
  }

  .form {
    &__input {
      &--field,
      &--number {
        &,
        &:focus {
          display: block;
          width: 100%;
          height: 10rem;
          font-size: 3rem;
          padding: 3rem;
          border: none;
          outline: none;
          font-weight: 700;
          color: $color-grey-3;
          margin-bottom: 2rem;
        }

        &::-webkit-input-placeholder {
          color: $color-grey-2;
      }
      }
    }

    &__input__file {
      display: block;
      width: 100%;
      height: 10rem;
      font-size: 3rem;
      padding: 3rem;
      border: none;
      outline: none;
      font-weight: 100;
      color: $color-grey-3;
    }

    &__input__select {

      .select {
        display: flex;
        flex-direction: column;
        width: 100%;

        & > label {
          display: flex;
          flex-direction: initial;
          font-size: 3rem;
          color: $color-grey-3;
          padding: 0 2rem;
        }

        & > select {
          &,
          &:focus,
          &:active {
            border: none;
            outline: none;
            padding: 3rem 3rem;
            background: #fff;
            color: $color-grey-3;
            font-size: 3rem;
            font-weight: 100;
          }
        }
      }
    }

    &__input:last-child {
      position: absolute;
      bottom: 7rem;
      display: block;
      width: 100%;
    }
  }
}

// DASHBOARD

.dashboard {
  height: 100vh;
  background-image: linear-gradient(to top, $color-blue-light, $color-blue-dark);

  &__picture {
    margin: 0 auto;
    text-align: center;
    padding: 6rem;

    & > img {
      border-radius: 100px;
      margin-bottom: 1rem;
      width: 20rem;
      border: 2px solid #fff;
    }

    & > h2 {
      text-transform: capitalize;
      color: #fff;
      font-size: 4rem;
      margin-top: 1rem;
    }
  }

  &__menu {
    margin: 0 auto;
    text-align: justify;
    padding: 2rem 3rem;

    &__item {
      list-style: none;
      padding: 1rem 0;
      margin: 0 auto;
      display: block;
      width: 70rem;
      margin-bottom: 7rem;

      & > a {
        &,
        &:link,
        &:visited {
          color: #fff;
          text-decoration: none;
          font-size: 4.4rem;
          display: flex;
          align-items: center;
          outline: none;
        }

        .circle {
          border-radius: 50%;
          height: 15rem;
          width: 20%;
          position: relative;
          display: inline-block;
          border: 2px solid #fff;

          & > img {
            margin: 0 auto;
            text-align: center;
            @include center();
            font-size: 5.7rem;
          }
        }

        .link {
          border-bottom: 1px solid #fff;
          padding: 3.6rem 0;
          margin-left: 3rem;
          width: 85%;
        }
      } 
    }
  }

  &__button-container {
    @include position_bottom();

    & > a {
      text-align: center;
      border: 3px solid #fff !important;
    }
  }
}

// GROUPS

.group {
  height: 100vh;
  background-image: linear-gradient(to top, $color-blue-light, $color-blue-dark);
  position: relative;

  &__container {
    position: absolute;
    top: 48.9%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 82rem;
    height: calc(100vh - 289px);
    overflow-y: auto;
  }

  &__detail {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    margin: 5rem;
    align-items: center;

  }

  &__right {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 3rem;
    margin-left: 4rem;

    & > span:first-child {
      font-size: 3.5rem;
    }

    & > span:last-child {
      font-size: 3rem;
    }
  }

  &__image {
    width: 18rem;

    & > img {
      width: 100%;
    }
  }

  &__button-container {
    @include position_bottom();
    background-color: $color-green;
    height: 16rem;
  }
}

// TRANSACTIONS

.purchase {
  height: 100vh;
  background-color: $color-white-1;
  position: relative;

  &__total {
    display: flex;
    background: #fff;
    height: 10rem;
    text-align: center;
    font-size: 3.5rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    & > span:first-child {
      color: $color-grey-3;
    }

    & > span::last-child {
      color: $color-black;
    }
  }

  &__container {
    padding: 2rem 3rem;
    height: calc(100vh - 380px);
    overflow-y: scroll;
  }

  &__detail {
    width: 90%;
    height: auto;
    background: #fff;
    display: flex;
    margin: 0 auto;
    padding: 3rem 1.5rem;
    border-radius: 3px;
    flex-direction: row-reverse;
    margin-bottom: 5rem;
    box-shadow: 0 1rem 1.6rem rgba($color-black,0.2);
  }

  &__right {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    & > span:first-child {
      font-size: 4.5rem;
      color: #bebebe;
    }

    & > span:nth-child(2),
    & > span:nth-child(3) {
      font-size: 3rem;
      color: #bebebe;
    }

    &__price {
      position: absolute;
      font-size: 3.2rem;
      top: 4rem;
      right: 4rem;
      color: black;
    }
  }

  &__image {
    flex: 1;
    margin: 2rem 3rem;

    & > img {
      width: 18.5rem;
    }
  }

  &__button-container {
    @include position_bottom();
    background-color: $color-green;
    height: 16rem;
  }
}

// BUTTONS

.button {
  &,
  &:link,
  &:visited {
    border: none;
    margin: 0 auto;
    border-radius: 3px;
    height: 12rem;
    line-height: 12rem;
    font-size: 3.5rem;
    text-transform: uppercase;
    display: block;
    width: 90%;
  }

  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}

.btn-blue {
  &,
  &:link,
  &:visited {
    color: $color-white-1;
    background-color: $color-primary;
    outline: none;
    transition: all 0.2s;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba($color-black,0.2);
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba($color-black,0.2);
  }
}

.btn-grey {
  &,
  &:link,
  &:visited {
    color: $color-grey;
    outline: none;
  }
}

.btn-green {
  &,
  &:link,
  &:visited {
    background-color: $color-green;
    color: $color-white-1;
    bottom: 0;
    text-align: center;
    border: 3px solid #fff;
    outline: none;
  }
}

// ANIMATIONS

@keyframes moveDown {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }

  80% {
    transform: translateY(2px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}


// @keyframes moveInBottom {
//   0% {
//     opacity: 0;
//     transform: translateY(1rem);
//   }

//   100% {
//     opacity: 1;
//     transform: translate(0);
//   }
// }

// NOTIFICATIONS

.success {
  background-color: $color-green;
}

.danger {
  background-color: $color-red;
}

.notification {
  text-align: center;
  padding: 1rem 2rem;
  color: $color-white-1;
  width: 50%;
  margin: 0 auto;
  height: 6rem;
  border-radius: 3px;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &__icon {
    font-size: 2rem;
    margin-right: 1rem;
  }

  &__message {
    font-size: 2rem;
    margin: 0;
    line-height: 4rem;
  }

}

// ERRORS

span.error {
  text-align: center;
  padding: 0.5rem 2rem;
  background-color: #F04546;
  color: #f1f3f2;
  font-size: 1.5rem;
  display: block;
}

// MENU

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem;
  height: 12rem;
  background: $color-blue-light-2;

  &__icon {
    width: 5%;
    margin: 0 auto;
    text-align: center;

    & > a {
      color: #fff;
      font-size: 7.5rem;
    } 
  }

  &__title {
    width: 95%;
    text-align: center;
    color: #fff;

    & > h3 {
      font-size: 5rem;
      text-transform: uppercase;
    }
  }
}