/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

// RESET
*, 
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-shadow: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

// MIXINS
@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// COLORS

$color-white-1: #f1f3f2;
$color-primary: #3778c2;
$color-grey: #AEB0AF;

// HOME

.home {
  background-color: #f1f3f2;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__title {
    flex: 90%;
    position: relative;
  }

  &__actions {
    flex: 10%;
    padding: 2rem;
  }
}

.prim-title {
  text-transform: uppercase;
  font-family: 'Courgette', cursive;
  font-size: 5.3rem;
  @include center();
}

// BUTTONS

.button {
  color: $color-white-1;
  border: none;
  margin: 0 auto;
  border-radius: 3px;
  height: 12rem;
  line-height: 12rem;
  font-size: 3.5rem;
  text-transform: uppercase;
  display: block;
  width: 90%;

  &:hover {
    cursor: pointer;
  }
}

.btn-blue {
  background-color: $color-primary;
}

.btn-grey {
  color: $color-grey;
}
